:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --blue-950: hsl(218, 23, 16);
  --blue-900: hsl(217, 19, 24);
  --blue-600: hsl(217, 19, 38);

  --blue-200: hsl(193, 38, 86);
  --green-200: hsl(150, 100, 66);

  /* --background-color: var(--blue-950); */

  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: 1px solid green;
  background-color: var(--green-200);
}
